!/apps/*/.env.example
**/*.rs.bk
*.log
*.pdb
*.profraw
*.swo
*.swp
*.tgz
*~
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
.cache
.cache/
.cursor/
.dynamodb/
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.fusebox/
.idea
.next
.node_repl_history
.npm
.nuxt
.parcel-cache
.pnp.*
.serverless/
.sfdx/*
.sync-conflict*
.sync-conflict-*
.tern-port
.vscode
.vscode-test
.vuepress/dist
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
/apps/*/.env
/apps/*/.env.*
/apps/*/dist/
/apps/*/node_modules/
/apps/*/tailwindcss
/apps/*/target/
/apps/Cargo.lock
/apps/directory-instance/design spec
/apps/platform-admin/design spec
/apps/target/
/backend/Cargo.lock
/backend/target/
/dataSources.local.xml
/dataSources/
/httpRequests/
/listing_202409220054.csv
/shelf/
/target
/target/*
/workspace.xml
Cargo.lock
Thumbs.db
debug/
dist
dist/
docker_build.log
ehthumbs.db
guide_d/
logs
nix_sample/
node_modules
node_modules/
npm-debug.log*
out
playwright-report
sops-key.txt
target/
test-results
yarn-debug.log*
yarn-error.log*
